h5{
	padding-left: 1.5%; 
	color: #3366ff;

}

p{
	padding-left: 5% ;
}

h2{
	color: red; 
	border-bottom:double; 
	border-color: #006666;
	
}

.container{
	background:rgb(2,0,36);
}

.body{
	padding-right: 10%; 
	padding-left:10%; 
	background: linear-gradient(to bottom, #e0e0e0 0%, #ffffff 78%);
}

.button{
	text-align: center;
	alignment-baseline: central;
}

.pill-nav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

/* Change the color of links on mouse-over */
.pill-nav a:hover {
  background-color: #ddd;
  color: gray;
}

/* Add a color to the active/current link */
.pill-nav a.active {
  background-color: #de6a6a;
  color: white;
}

