.title {
   font-family: Console;
   color: #99004c;
   margin: auto;
   text-align: center;
   padding-top: 5%;
   padding-bottom: 7%;

}

.all{

	margin top: 0;
	margin-bottom: 0;
	margin: auto;
	width: 70%;
	font-family: console;
	font-size: 17px; 
	background-image: linear-gradient(to bottom right, #E0FFFF, #F0F8FF, #E0FFFF);
	
	padding-left: 10%; 
	padding-right: 10%;

}

